@model EBLIG.WebUI.Areas.Backend.Models.SportelloRicercaModel

<div class="row mb-4">
    <div class="col-md-12">


        @Ajax.EncodedAjaxActionLink("Nuovo Sportello", "Anagrafica", "Sportello", null, new AjaxOptions
        {
        OnBegin = "alertWaid()",
        OnSuccess = "showModalFullScreen_NoHeaderFooter(data); alertClose()",
        OnFailure = "handleError"
        }, new { @class = "btn btn-info" })

    </div>
</div>
@Html.RicercaModulo(Html.Partial("RicercaModulo", Model), "Anagrafiche Sportello")

@Html.UpdateListRicerca(Url.Action("Ricerca", "Sportello"), true)

